# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/

# Django
*.log
staticfiles/
media/
db.sqlite3

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

